body {
    margin: 0;
    padding: 0 0 20px 0;
}
table, tr, td {
    margin: 0;
    padding: 0;
}
td {
    height: 10px;
    width: 10px;
    background: #f06a1c
}
.cell {
    cursor: pointer;
}
.alive {
    background: #33b300;
}
.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    border: 2px solid #323232;
    margin: 20px 0 0 15px;
    padding: 8px 10px;
}