body {
    margin: 0;
    padding: 0 0 20px 0;
}
table {
    margin: 20px 0 0 15px;
    border-collapse: collapse;
}
tr, td {
    margin: 0;
    padding: 0;
}
td {
    height: 10px;
    width: 10px;
    background: #3f3f3f
}
.cell {
    cursor: pointer;
}
.alive {
    background: #4a1cb6;
}
.btn-container {
    margin: 10px 0 0 15px;
}
.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    border: 2px solid #323232;
    margin: 20px 0 0 15px;
    padding: 8px 10px;
}